html, body {
    max-width: 100%;
    overflow-x: hidden;
 }
 p{
     font-style: inherit;
     color: #616161;
 }
/*info panel*/
.info-panel{
    background-color: white;
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    padding: 30px;
    margin-top: -20px;
   }
   
   
   /* .info-panel i .fas{
    width:80px;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
   } */
   
   .info-panel p{
    font-size: 14px;
    color:#acacacac;
    margin-top: -5px;
   }
   
   
   .info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:5px;
   }

   .container .sekilas {
       margin-top: 70px;
   }

   .container .sekilas img {
    width : 300px;
}

   @media only screen and (min-width: 768px) {
    .info-panel{
        background-color: white;
        box-shadow: 0 3px 20px rgba(0,0,0,0.5);
        border-radius: 12px;
        padding: 30px;
        margin-top: -70px;
       }

       .container .sekilas img {
        width : 500px;
    }
       
   }